
.flex_h {
    display: flex;
    flex-direction: row;
}

.flex_v {
    display: flex;
    flex-direction: column;
}

.title {
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0;
}
h2 {
    margin: 15px 0px 5px;
}


.content {
    max-width: 1000px;
    margin: 10px auto;
}


body {
    background: #1f253d;
    color: white;
    font-family:  Arial, Helvetica, sans-serif;
}

.box {
    margin: 10px;
    padding: 10px;
}
.panel {
    background: #394264;
}
.mandelbrot .canvases,
.mandelbrot canvas {
    width: 600px;
    height: 300px;
}
canvas.overlayXX {
    display: none; 
}

.mandelbrot label.num {
    font-size: 1.3rem;
}

.mandelbrot input.num {
    font-size: 1.6rem;
    width: 20rem;
    background-color: #838caf;
}

.mandelbrot .canvases {
    margin: 10px 0;
}

.mandelbrot canvas {
    position: absolute;
}

.orbit canvas {
    width: 100%;
    height: 400px;
}

canvas {
    border: 1px solid #555555;
}

.magnitudes-box {
    width: 400px;
    height: 300px;
}

.guide {
    background-color: #ded7be;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 20px 60px;
    border: solid 8px hsl(38deg 17% 51%);
    color: black;
    margin-top: 19px;
}

.guide.popup {
    position: fixed;
    width: 780px;
    top: 380px;
    left: 50%;
    font-size: 1.6rem;
    transform: translateX(-50%);
}

.cursor-pointer {
    cursor: pointer;
}


.arrow {
    position: absolute;
    top: 80%;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgrey;
    transition: all 200ms ease;
}

.arrow.prev {
    left: 20px;
    transform:  rotate(-135deg);
}
.arrow.next {
    right: 20px;
    transform:  rotate(45deg);
    border-color: #87c868;
}

.arrow.disabled {
    border-color: #c5b6b6;
}

.arrow:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 #56bc25;
}